[Desktop Entry]
Name=Prusa GCode viewer
Name[de]=Prusa GCode Vorschau
Name[pt_BR]=Prusa Visualizador GCode
Exec=prusa-slicer --gcodeviewer %F
Icon=PrusaSlicer-gcodeviewer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;

